################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Net8Arch/Section4/ToDoApi/TodoApi/.vs/TodoApi/FileContentIndex
