################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Net8Arch/Section4/ToDoApi/TodoApi/.vs/TodoApi/FileContentIndex
/Net8Arch/Section4/ToDoApi/TodoApi/.vs/TodoApi/v17/.suo
/Net8Arch/Section4/ToDoApi/TodoApi/bin/Debug/net8.0/TodoApi.dll
/Net8Arch/Section4/ToDoApi/TodoApi/bin/Debug/net8.0/TodoApi.exe
/Net8Arch/Section4/ToDoApi/TodoApi/bin/Debug/net8.0/TodoApi.pdb
/Net8Arch/Section4/ToDoApi/TodoApi/obj/Debug/net8.0/ref/TodoApi.dll
/Net8Arch/Section4/ToDoApi/TodoApi/obj/Debug/net8.0/refint/TodoApi.dll
/Net8Arch/Section4/ToDoApi/TodoApi/obj/Debug/net8.0/apphost.exe
/Net8Arch/Section4/ToDoApi/TodoApi/obj/Debug/net8.0/TodoApi.dll
/Net8Arch/Section4/ToDoApi/TodoApi/obj/Debug/net8.0/TodoApi.pdb
/Net8Arch/Section4/ToDoApi/TodoApi/obj/Debug/net8.0/TodoApi.AssemblyInfo.cs
/Net8Arch/Section4/ToDoApi/TodoApi/obj/Debug/net8.0/TodoApi.AssemblyInfoInputs.cache
/Net8Arch/Section4/ToDoApi/TodoApi/obj/Debug/net8.0/TodoApi.sourcelink.json
